.home {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333; /* change to dark color */
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222; /* change to dark color /
box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px; / change to white */
  border-radius: 10px;
  max-width: 700px;
  width: 50%;
  height: 80%;
}

.image {
  width: 90%;
  height: 70%;
  object-fit: cover;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px; /* change to white */
  border-radius: 10px;
}

.formFile {
  margin-top: 20px;
  width: 80% !important;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.upload_file {
  display: flex;
}

.input,
.input > * {
  display: flex;
}

.filter {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.select {
  width: 200px;
}

.select > * {
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 90%;
  }

  .image {
    height: 70%;
  }

  .filter {
    flex-direction: column;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1085px) {
  .container {
    width: 80%;
  }
}
